body {
  background-color: rgb(39, 39, 39);
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.centered {
  text-align: center;
}

div.ui.centered.card {
  background-color: rgb(39, 39, 39);
}

.dark {
  background-color: rgb(39, 39, 39) !important;
}

.hidden {
  display: none;
}
